body,ul,li{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;/*去掉无序列表里面的点*/
}
.clearfix:after{
    content: " ";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    zoom: 1;
}
.wrap{
    position: relative;
    margin: 0 auto;
    width: 1000px;
    
}
a{
    text-decoration: none;
}
.top{
    background-color: #f5f5f5;
    height: 30px;
    line-height: 30px;
    color: #868686;
    font-size: 13px;
}
.top img{
    
    height: 25px;
    width: 20px;
    float: left;
}
.top p{
    margin: 0;
    padding: 0;
    display: inline-block;
}
.top .call{
    float: left;
    padding-left: 10px;
    
}
.top .welcome{
    float: right;
}
.top a{
    color: #60bff2;
}
.header{
    height: 92px;
}
.header img{
    float: left;
    height: 92px;
    width: 92px;
}
.header .a{
    float: left;
    font-size: 40px;
    color: blue;
    line-height: 92px;
    height: 92px;
    margin-left: 15px;
}
.header .search{
    width: 326px;
    height: 38px;
    position: absolute;/*父标签为wrap有relative相对定位，可以用*/
    right: 0px;
    top: 29px;
    background-color: #00b3ea;
}
.ui-search{
    font-size: 14px;
    color: #fff;
    position: relative;
}
.ui-search .search-select{
    width: 70px;
    height: 38px;
    line-height: 38px;
    position: absolute;
    left: 0;
    top: 0;
    text-indent: 14px;
    cursor: pointer;
}
.ui-search .search-select-list{
    display: none;
    position: absolute;
    width: 67px;
    line-height: 24px;/*父类设置子类每一行都是24px*/
    background-color: #fff;
    left: 2px;
    top: 38px;
    z-index: 2;
}
.ui-search .search-select-list a{
    display: block;
    color: #A5a2a2;
    text-align: center;
}  
.ui-search .search-select-list a:hover{
    background-color: #ebeef5;
}
.ui-search .search-input{
    width: 208px;
    height: 26px;
    line-height: 26px;
    position: absolute;
    top: 5px;
    left: 71px;
    font-size: 13px;
    color: #A5a2a2;
}
.ui-search .search-submit{
    display: block;
    position: absolute;
    right: 0;
    top: 1px;
    width: 40px;
    height: 36px;
}
.ui-search .search-submit img{
    width: 40px;
    height: 36px;
}
.nav{
    height: 36px;
    background-color: #60bff2;
}
.nav .menu{
    display: inline-block;
    margin-right: 30px;
    line-height: 36px;
    color: #f5f5f5;
    width: 130px;
    padding-left: 30px;
    position: relative;
    background-color: #1fa4f0;
}
.nav .menu .menu-list{
    width: 100%;/*跟随父元素宽度*/
    background-color: #1fa4f0;
    position: absolute;
    height: 423px;
    left: 0;
    top: 36px;
}
.ui-menu-item{
    height: 22px;
    line-height: 22px;
    padding: 8px 5px 9px 6px;
    margin-left: 2px;
}
.ui-menu-item:hover{
    background-color: #fff;
}
.ui-menu-item-department{
    float: left;
    height: 22px;
    line-height: 22px;
    position: relative;
    font-size: 14px;
    padding-left: 30px;
    color: #fff;
}
.ui-menu-item-department:before{
    content: " ";
    display: block;
    width: 22px;
    height: 21px;
    position: absolute;
    left: 0;
    top: 1px;
    background: url("img/security\ center.png") 0px 0 no-repeat;
}
.ui-menu-item-disease{
    font-size: 12px;
    float: right;
    padding-left: 5px;
    color: #d7f3ff;
}
.ui-menu-item:hover .ui-menu-item-department{
    color: #333;
}
.ui-menu-item:hover .ui-menu-item-disease{
    color: #868686;
}
.ui-menu-item:hover .ui-menu-item-detail{
    display: block;
}
.ui-menu-item-detail{
    display: none;
    position: absolute;
    width: 500px;
    height: 392px;
    padding: 20px 10px 10px 29px;
    background-color: #fff;
    top: 0;
    left: 168px;
}
.ui-menu-item .ui-menu-item-detail-group-caption{
    display: block;
    color: black;
    text-align: center;
}
.ui-menu-item .ui-menu-item-detail-group-list{
    margin-top: 10px;
    margin-bottom: 30px;
}
.ui-menu-item .ui-menu-item-detail-group-list a{
    font-size: 14px;
    margin: 5px 15px;
}
.nav .a{
    display: inline-block;
    margin-right: 30px;
    line-height: 36px;
    color: #f5f5f5;
}
.nav .right{
    float: right;
    margin-right: 70px;
}
.nav a:hover{
    color: #d7f3ff;
}
.banner{
    width: 802px;
    height: 414px;
    padding: 9px 0px 0px 198px;
    margin: 0 auto;
}
.banner-slider{
    float: left;
    width: 544px;
    height: 414px;
    background-color: #60bff2;
}

.banner-search{
    float: right;
    width: 250px;
    height: 226px;
    background-color: #fafafa;
}
.banner-search .caption{
    height: 22px;
    padding: 10px 0;
    text-align: center;
}
.banner-search .caption span{
    text-align: center;
    height: 42px;
    line-height: 42px;
}
.banner-search .caption img{
    display: inline-block;
    height: 22px;
    line-height: 22px;
    width: 22px;
}
.banner-search .line{
    padding-bottom: 9px;
    text-align: center;
}
.banner-search .line select{
    width: 170px;
    font-size: 12px;
    z-index: 0;
    border: 1px solid #dcdddd;
    height: 26px;
    line-height: 26px;
    padding: 2px 0;
    color: #666;
}
.banner-search .submit{
    height: 32px;
    text-align: center;
}
.banner-search .submit .button{
    width: 108px;
    height: 32px;
    background-color: #fecd09;
    font-size: 14px;
    color: #FFF;
    border-radius: 3px;/*圆角样式*/
}
.banner-help{
    float: right;
    width: 250px;
    height: 146px;
    margin-top: 12px;
    background-color: #fafafa;
}
.banner-help .caption{
    height: 22px;
    padding: 10px 0;
    text-align: center;
}
.banner-help .caption span{
    text-align: center;
    height: 42px;
    line-height: 42px;
    
}
.banner-help .list a{
    display: inline-block;
    color: #00b3ea;
    width: 116px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    text-align: center;
    padding: 0 0;
    margin-top: 15px;
}
.content{
    padding:10px 0 38px 0;
    
}
.content-tab{
    width: 742px;
    height: 600px;
    /*background-color: #60bff2;*/
    float: left;
}
.content-tab .caption{
    height: 34px;
    line-height: 34px;
    background-color: #f5f6fa;
}
.content-tab .caption a{
    display: block;
    width: 112px;
    height: 34px;
    text-align: center;
    float: left;
    color: #00b3ea;
}
.content-tab .caption .focus{
    background-color: #60bff2;
    color: #fff;
}
.content-tab .block-caption{
    height: 26px;
    line-height: 26px;
    padding:8px;
    border-bottom: 1px solid #f4f6fa;
}
.content-tab .block-caption li{
    display: inline-block;/*能够一块都能点击*/
    padding: 0 10px;
    font-size: 12px;
    color: #4c4948;
    cursor:pointer;
}
.content-tab .block-caption .focus{
    background-color: #60bff2;
    color: #fff;
}
.content-tab .block-content{
    padding: 16px 12px;
}
.content-tab .block-content ul{
    display: none;
}
.content-tab .block-content .focus{
    display: block;
}
.content-tab .block-content a{
    display: block;
    line-height: 55px;
    text-align: center;
    color: #5084c4;
    font-size: 14px;

}
.content-tab .block-content li{
    float: left;
    border: 1px solid black;
    height: 165px;
    width: 330px;
}

.content-tab .block-content li .bg{
    height: 165px;
    width: 165px;
    float: left;
}
.content-tab .block-content li .info{
    float: right;
    width: 165px;
    height: 165px;
    text-align: center;
}
.content-tab .block-content li .bg img{
    width: 165px;
    height: 165px;
}
.content-news,.content-close{
    float: right;
    width: 250px;
    height: 236px;
    border: 1px solid #f4f6fa;
    background-color: #fff;
}
.content-news .caption{
    height: 38px;
    line-height: 38px;
    background-color: #f4f6fa;
    color: #fec009;
}

.content-news .caption a,.content-close .caption a{
    float: right;
    font-size: 10px;
    color: #666;
}
.content-news .list,.content-close .list{
    padding: 15px 20px 13px 35px;
    line-height: 29px;/*直接在父类里面设置每一行高度，就省去了给每个子类都加div来调整高度*/
}
.content-close{
    margin-top: 12px;
}
.content-close .caption{
    height: 38px;
    line-height: 38px;
    background-color: #f4f6fa;
    color: #fec009;
}
.footer{
    height: 132px;
    padding: 25px 0;
    background-color: #eceef2;
}
.ui-backtop{
    width: 40px;
    height: 40px;
    display: block;
    position: fixed;
    right: 2px;
    bottom: 10px;
    color: #fff;
    background: rgba(102, 102, 102, .9) url(img/回到顶部.png) center;
}
.ui-backtop:hover{
    background:rgba(102, 102, 102, .9);
}
.ui-backtop:hover:after{/*在鼠标移上去之后插入元素*/
    content: '回到顶部';
    display: block;
    line-height: 20px;
    text-align: center;
}